*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'ubuntu', sans-serif;
}

/* navbar */
.navbar{
    background-color:blueviolet;
}

a.navbar-brand{
    color: white;
}


li a, .nav-link  {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,.nav-link:hover{
  color: white;
  background-color: navy;
}

li a:hover, .dropdown:hover .nav-link  {
  background-color: navy;
  color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-menu a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-menu {
  display: block;
}